* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Rubik", sans-serif;
}

header {
  background-color: red;
  height: 100vh;
  position: relative;
  background-image: url(img/the\ batman.jpg);
  background-size: cover;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

nav {
  font-size: 20px;
  font-weight: 700;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.header-container {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-container-iner {
  width: 50%;
  /* background-color: blue; */
}

h1 {
  font-size: 52px;
  margin-bottom: 52px;
  line-height: 1.05;
  color: #f7f7f7;
}

p {
  font-size: 20px;
  line-height: 1.6;
  color: #f7f7f7;
}

.btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(190, 3, 3);
  color: #f7f7f7;
  display: inline-block;
  padding: 14px 24px;
  border-radius: 9px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #d81212;
}

h2 {
  font-size: 44px;
  margin-bottom: 48px;
  color: black;
}

section {
  padding: 96px 0;
  /* background-color: black; */
}

section p {
  color: black;
}

img {
  width: 100%;
  height: 70px;
}

.navegation a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 24px;
}

.navegation a:hover {
  color: #f7f7f7;
  font-style: italic;
}
